#halfWhiteDiv {
    width: 100vw;
    height: 100VH;
    position: absolute;
    background-color: rgb(195 190 194 / 80%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    TOP: 0;
    left: 0;
    padding-top: 11vw;
}

#editBoardDiv {
    margin: 0;
    width: 63vw;
    height: 40vw;
    display: flex;
    justify-content: center;

}
.formStyle{
    margin-right: 1vw;
}

#createCard {
    display: block;
    width: 30vw;
    margin-left: 3vw;
    margin-top: 7px;
    height: 49vh;
    display: flex;
    flex-direction: column;
}
