.all{
    display: flex;
}

.forms {
    position: absolute;
    left: 10px;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -26px;
}
